<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script> -->
    <!-- <script src="https://unpkg.com/vee-validate@latest"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vee-validate@2.1.0-beta.1/dist/locale/ru.js"></script> -->
    <!-- <script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script> -->
    <!-- <script src="https://nosir.github.io/cleave.js/dist/cleave-phone.i18n.js"></script> -->

    <script src="https://unpkg.com/vue"></script>

    <style>
    </style>
</head>


<body>
    <!-- https://stackoverflow.com/questions/30578254/does-vue-js-have-a-built-in-way-to-add-a-copy-of-a-persistent-object-to-a-repeat -->

    <div id="demo">
        <h1>Awesome Items</h1>

        <table>
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>tags</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.start }}</td>
                    <td>{{ item.end }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.tags }}</td>
                    <td>{{ item.note }}</td>
                </tr>
                <tr>
                    <td form="new-item">
                        <input type="text" v-model="newItem.start" />
                    </td>
                    <td form="new-item">
                        <input type="text" v-model="newItem.end" />
                    </td>
                    <td form="new-item">
                        <input type="text" v-model="newItem.name" />
                    </td>
                    <td form="new-item">
                        <input type="text" v-model="newItem.description" />
                    </td>
                    <td form="new-item">
                        <input type="text" v-model="newItem.tags" />
                    </td>
                    <td form="new-item">
                        <input type="text" v-model="newItem.note" />
                    </td>
                </tr>
            </tbody>
        </table>
        <form id="new-item" @submit="addItem">
            <button type="submit">Create</button>
        </form>

        <pre>{{ $data }}</pre>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#demo',

            data: {
                items: [
                    {
                        start: '12:15',
                        end: '13:15',
                        name: 'Whatch Vue.js Laracast',
                        description: 'Watched the Laracast series on Vue.js',
                        tags: ['learning', 'Vue.js', 'Laracast', 'PHP'],
                        note: "Vue.js is really awesome. Thanks Evan You!!!"
                    },
                    {
                        start: '13:15',
                        end: '13:30',
                        name: "Rubik's Cube",
                        description: "Play with my Rubik's Cube",
                        tags: ['Logic', 'Puzzle', "Rubik's Cube"],
                        note: "Learned a new algorithm."
                    }
                ],
                newItem: { start: '', end: '', name: '', description: '', tags: '', note: '' }
            },

            methods: {
                addItem: function (e) {
                    e.preventDefault();
                    if (this.newItem.start && this.newItem.end && this.newItem.name && this.newItem.description) {

                        // это просто пример как убрать все пробелы и пустые строки
                        // const notEmpty = str => str !== '';
                        // const trimSpaces = str => str.replace(/ +/g, " ").trim();
                        // console.log("один  совсем один,     два двадцать   , , ,   , пять, , девять".split(',').map(trimSpaces).filter(notEmpty));

                        // это чтобы в поле tags, попал массив тегов, а не строка
                        if (this.newItem.tags) {
                            this.newItem.tags = this.newItem.tags.split(',').map(el => el.replace(/ +/g, " ").trim()).filter(el => el !== '');
                        }

                        this.items.push(Vue.util.extend({}, this.newItem));

                        this.newItem.start = "";
                        this.newItem.end = "";
                        this.newItem.name = "";
                        this.newItem.description = "";
                        this.newItem.tags = "";
                        this.newItem.note = "";
                    }
                }
            }
        });
    </script>

</body>

</html>